<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link href="stylesheets\style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <header>
        <div class="header-bar">
        <h1 class="site-name">BeatRater</h1>
        <input type="text" placeholder="Pesquisar álbuns">
    </div>
  </nav>
    <ul>
      <li><a href="/cadastro">Cadastro</a></li>
    </ul>
  </nav>
  </header>