<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link href="stylesheets/album.css" rel="stylesheet" type="text/css" />
</head>

<body>
   <header>
        <h1>Ctrl</h1>
        <h2>Artista: SZA</h2>
        <img src="https://upload.wikimedia.org/wikipedia/en/b/bf/SZA_-_Ctrl_cover.png" alt="Capa do Álbum">
    </header>

   <section class="info">
        <h2>Sobre o Álbum:</h2>
        <p>
            "Ctrl" é o aclamado álbum da talentosa cantora e compositora SZA, lançado em 2017. Este álbum marcou um ponto de viragem na carreira da artista, consolidando-a como uma das vozes mais influentes no cenário da música contemporânea. <br>

<br>"Ctrl" é um álbum que mergulha profundamente nas experiências pessoais e emocionais de SZA. Ela explora temas como amor, relacionamentos, autoestima e autenticidade de uma maneira crua e honesta. Ao longo das músicas, SZA compartilha suas vulnerabilidades e experiências de vida, criando uma narrativa que ressoa com muitos ouvintes.<br>

<br>Uma das características distintivas do álbum é a narrativa feminina forte e independente que SZA apresenta. Ela aborda questões de empoderamento feminino e liberdade sexual, desafiando estereótipos de gênero e normas sociais. Muitas das músicas são um testemunho de autoaceitação e autenticidade, como é evidente em faixas como "Love Galore" e "Drew Barrymore".<br>

<br>A produção musical em "Ctrl" também merece destaque. O álbum combina uma variedade de gêneros musicais, incluindo R&B, soul, hip-hop e até mesmo elementos de música eletrônica. Essa diversidade sonora dá ao álbum uma sensação única e contemporânea, ao mesmo tempo em que mantém um som coeso e distintivo.<br>

<br>Algumas das músicas mais notáveis de "Ctrl" incluem "The Weekend," "Supermodel," "Broken Clocks" e "Garden (Say It Like Dat)," todas as quais capturam a essência da jornada emocional que SZA compartilha com seu público.<br>

<br>"Ctrl" recebeu elogios da crítica e foi indicado para vários prêmios, incluindo o Grammy. Além disso, o álbum conquistou um lugar especial nos corações dos fãs, muitos dos quais se identificaram com as letras profundas e as emoções genuínas transmitidas por SZA.<br>

<br>Em resumo, "Ctrl" é um álbum impactante que oferece uma visão honesta e íntima da vida e das emoções de SZA. Sua habilidade de contar histórias, juntamente com sua expressão musical única, solidificaram sua posição como uma das artistas mais influentes da sua geração e tornaram este álbum um marco na música contemporânea.<br>

        </p>
    </section>

  <section class="favoritos">
        <p>Este álbum tem <span id="numero-favoritos">100</span> favoritos.</p>
        <button id="botao-favoritar">Favoritar</button>
    </section>
</body>
</html>