<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link href="stylesheets/login-cadastro.css" rel="stylesheet" type="text/css" />
  ]
    <title>Login no BeatRater</title>
</head>
<body>

    <div class="container">
        <h1>Faça Login no BeatRater</h1>
        <form id="login-form" action="/autenticar" method="post">
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Senha:</label>
            <input type="password" id="password" name="senha" required>

            <button type="submit">Login</button>
        </form>
        <p class="centered-text">Ainda não tem uma conta? <a class="signup-link" href="cadastro">Cadastre-se!</a></p>
    </div>
 </div>
 <script src="javascripts\script.js"></script>
</body>
</html>